<div class="container">
  <h2>Table Product</h2>
  <p></p>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCreate">
    Create
  </button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Img</th>
      <th>Status</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let p of products">
      <td>{{p.name}}</td>
      <td><img src="{{p.img}}" width="300" height="200"></td>

      <!--  *ngIf nếu là true thì sẽ hiển thị thẻ đó, không hiển thị thẻ khi là false-->
      <td *ngIf="p.status === true" style="color: blue">Còn hàng</td>
      <td *ngIf="p.status === false" style="color: red">hết hàng</td>

      <td>{{p.price}}</td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="showEdit(p.name)" data-toggle="modal"
                data-target="#myModalEdit">
          Edit
        </button>
      </td>
      <td>
        <button (click)="deleteProduct(p.name)" type="button" class="btn btn-secondary">Delete</button>
      </td>
    </tr>


    </tbody>
  </table>

  <!-- The Modal create -->
  <div class="modal" id="myModalCreate">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create Product</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form [formGroup]="productFormGroup">
          <div class="modal-body">
            nhập name : <input placeholder="name" formControlName="name">
            <p *ngIf="!productFormGroup.get('name').valid && productFormGroup.get('name').touched" style="color: red">Name min 6</p>
            <br>
            nhập img :<input placeholder="img" formControlName="img">
            <p *ngIf="!productFormGroup.get('img').valid && productFormGroup.get('img').touched" style="color: red">Not null</p>
            <br>
            nhập price :<input formControlName="price">
            <p *ngIf="!productFormGroup.get('price').valid && productFormGroup.get('price').touched" style="color: red">Price > 0 </p>
          </div>
        </form>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="createProduct()"
                  [disabled]="productFormGroup.invalid"
                  class="btn btn-success" data-dismiss="modal">Create</button>
          <button type="button" (click)="productFormGroup.reset()" class="btn btn-danger" data-dismiss="modal">Close
          </button>
        </div>

      </div>
    </div>
  </div>

  <!-- The Modal Edit -->
  <div class="modal" id="myModalEdit">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Product</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form [formGroup]="productFormGroup">
          <div class="modal-body">
            nhập name : <input placeholder="name" readonly formControlName="name">
            <br>
            nhập img :<input placeholder="img" formControlName="img">
            <br>
            nhập price :<input formControlName="price">
          </div>
        </form>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="submitEdit()" class="btn btn-success" data-dismiss="modal">Edit</button>
          <button type="button" (click)="productFormGroup.reset()" class="btn btn-danger" data-dismiss="modal">Close
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

